In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'data/merged_data.csv')

## Checking for missing values

In [3]:
df.isnull().sum()

user_id        0
song_id        0
freq           0
artist_name    0
release        1
dtype: int64

## Handling missing values

In [4]:
df[df['release'].isnull()]

,user_id,song_id,freq,artist_name,release
1259779,7b3a62a418862aefc4b3d85feb191fa0fd752c69,SOZDBDL12AB018AFFF,1,Sébastien Roch,NaN

In [5]:
df.dropna(inplace=True)

## Checking for duplicates

In [6]:
df.duplicated().sum()

35387

## Handling duplicates

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

0

#### Exporting processed data

In [11]:
df.to_csv('data/processed_data.csv')