<a href="https://colab.research.google.com/github/vinayaka16041999/Data-Science-ML-Projects/blob/master/Cancer_Death_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split,RandomizedSearchCV

# Load Data

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/cancer_death_rate/Training_set_label.csv" )

In [3]:
data.head()

   avgAnnCount  avgDeathsPerYear  ...  BirthRate  TARGET_deathRate
0         19.0                 8  ...  15.157116             160.3
1         88.0                34  ...   3.293510             194.9
2        195.0                83  ...   6.390328             196.5
3        116.0                55  ...   5.124836             230.9
4         80.0                35  ...   3.897033             162.2

[5 rows x 34 columns]

# EDA

In [4]:
data.describe()

        avgAnnCount  avgDeathsPerYear  ...    BirthRate  TARGET_deathRate
count   3051.000000       3051.000000  ...  3051.000000       3051.000000
mean     570.668154        176.000983  ...     5.608851        178.909767
std     1250.546532        445.042777  ...     1.955201         27.570075
min        6.000000          3.000000  ...     0.000000         66.300000
25%       80.000000         29.000000  ...     4.499936        161.400000
50%      171.000000         62.000000  ...     5.384471        178.300000
75%      508.000000        148.000000  ...     6.473896        195.500000
max    24965.000000       9445.000000  ...    21.326165        362.800000

[8 rows x 32 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3051 entries, 0 to 3050
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avgAnnCount              3051 non-null   float64
 1   avgDeathsPerYear         3051 non-null   int64
 2   incidenceRate            3051 non-null   float64
 3   medIncome                3051 non-null   int64
 4   popEst2015               3051 non-null   int64
 5   povertyPercent           3051 non-null   float64
 6   studyPerCap              3051 non-null   float64
 7   binnedInc                3051 non-null   object
 8   MedianAge                3051 non-null   float64
 9   MedianAgeMale            3051 non-null   float64
 10  MedianAgeFemale          3051 non-null   float64
 11  Geography                3051 non-null   object
 12  AvgHouseholdSize         3051 non-null   float64
 13  PercentMarried           3051 non-null   float64
 14  PctNoHS18_24             3051 non-null   float64
 15  PctHS18_24               3051 non-null   float64
 16  PctSomeCol18_24          785 non-null    float64
 17  PctBachDeg18_24          3051 non-null   float64
 18  PctHS25_Over             3051 non-null   float64
 19  PctBachDeg25_Over        3051 non-null   float64
 20  PctEmployed16_Over       2899 non-null   float64
 21  PctUnemployed16_Over     3051 non-null   float64
 22  PctPrivateCoverage       3051 non-null   float64
 23  PctPrivateCoverageAlone  2447 non-null   float64
 24  PctEmpPrivCoverage       3051 non-null   float64
 25  PctPublicCoverage        3051 non-null   float64
 26  PctPublicCoverageAlone   3051 non-null   float64
 27  PctWhite                 3051 non-null   float64
 28  PctBlack                 3051 non-null   float64
 29  PctAsian                 3051 non-null   float64
 30  PctOtherRace             3051 non-null   float64
 31  PctMarriedHouseholds     3051 non-null   float64
 32  BirthRate                3051 non-null   float64
 33  TARGET_deathRate         3051 non-null   float64
dtypes: float64(29), int64(3), object(2)
memory usage: 810.5+ KB

In [6]:
data.isna().sum()

avgAnnCount                   0
avgDeathsPerYear              0
incidenceRate                 0
medIncome                     0
popEst2015                    0
povertyPercent                0
studyPerCap                   0
binnedInc                     0
MedianAge                     0
MedianAgeMale                 0
MedianAgeFemale               0
Geography                     0
AvgHouseholdSize              0
PercentMarried                0
PctNoHS18_24                  0
PctHS18_24                    0
PctSomeCol18_24            2266
PctBachDeg18_24               0
PctHS25_Over                  0
PctBachDeg25_Over             0
PctEmployed16_Over          152
PctUnemployed16_Over          0
PctPrivateCoverage            0
PctPrivateCoverageAlone     604
PctEmpPrivCoverage            0
PctPublicCoverage             0
PctPublicCoverageAlone        0
PctWhite                      0
PctBlack                      0
PctAsian                      0
PctOtherRace                  0
PctMarriedHouseholds          0
BirthRate                     0
TARGET_deathRate              0
dtype: int64

In [7]:
for col in data.columns:
  print(data[col].value_counts())

1962.667684    200
81.000000       23
74.000000       21
51.000000       20
98.000000       19
              ...
2899.000000      1
2938.000000      1
419.000000       1
592.000000       1
3932.000000      1
Name: avgAnnCount, Length: 779, dtype: int64
13      42
14      42
16      38
24      38
19      37
        ..
1382     1
1386     1
1430     1
1524     1
3927     1
Name: avgDeathsPerYear, Length: 513, dtype: int64
453.549422    200
475.700000     12
424.400000     10
430.400000      9
444.500000      8
             ...
353.800000      1
532.700000      1
343.300000      1
379.000000      1
379.100000      1
Name: incidenceRate, Length: 1264, dtype: int64
48368     5
55472     4
50774     4
44113     4
51510     4
         ..
48163     1
41409     1
100806    1
49905     1
49152     1
Name: medIncome, Length: 2208, dtype: int64
18340    4
12841    4
33743    3
4854     3
3956     3
        ..
7088     1
47520    1
8615     1
4523     1
28672    1
Name: popEst2015, Length: 2253, dtype: int64
10.7    35
17.5    33
13.9    31
14.7    31
13.8    31
        ..
34.2     1
33.4     1
30.8     1
35.4     1
40.5     1
Name: povertyPercent, Length: 313, dtype: int64
0.000000       1936
23.310567         2
108.143797        2
100.400690        2
50.862113         2
               ...
51.894136         1
260.431738        1
23.111234         1
421.910534        1
1358.162063       1
Name: studyPerCap, Length: 837, dtype: int64
(37413.8, 40362.7]    318
(51046.4, 54545.6]    318
(54545.6, 61494.5]    315
(34218.1, 37413.8]    309
(40362.7, 42724.4]    306
(42724.4, 45201]      306
[22640, 34218.1]      301
(45201, 48021.6]      299
(48021.6, 51046.4]    297
(61494.5, 125635]     282
Name: binnedInc, dtype: int64
41.0     46
38.8     40
43.0     39
40.1     39
42.2     38
         ..
30.6      1
26.1      1
32.6      1
406.8     1
27.5      1
Name: MedianAge, Length: 295, dtype: int64
40.3    36
38.5    36
36.1    34
39.2    34
40.1    34
        ..
24.5     1
51.8     1
28.6     1
53.3     1
52.3     1
Name: MedianAgeMale, Length: 284, dtype: int64
41.1    41
44.0    39
42.2    39
42.9    37
44.5    35
        ..
28.8     1
30.6     1
55.3     1
26.7     1
52.3     1
Name: MedianAgeFemale, Length: 279, dtype: int64
Tillamook County, Oregon              2
San Luis Obispo County, California    2
Franklin city, Virginia               2
Newton County, Indiana                2
Crook County, Oregon                  2
                                     ..
Van Zandt County, Texas               1
Ray County, Missouri                  1
Thomas County, Georgia                1
Payne County, Oklahoma                1
Jackson County, Missouri              1
Name: Geography, Length: 2285, dtype: int64
2.4800    81
2.4300    71
2.5200    70
2.5500    68
2.4400    66
          ..
0.0247     1
0.0280     1
3.3800     1
1.8900     1
0.0263     1
Name: AvgHouseholdSize, Length: 184, dtype: int64
52.7    35
52.2    32
55.5    28
53.9    28
48.2    28
        ..
39.7     1
64.6     1
63.8     1
28.1     1
36.4     1
Name: PercentMarried, Length: 345, dtype: int64
17.7    29
15.7    27
14.7    27
14.4    27
18.7    26
        ..
36.1     1
62.7     1
38.7     1
39.8     1
30.8     1
Name: PctNoHS18_24, Length: 384, dtype: int64
33.2    26
41.3    25
33.7    24
31.8    24
28.8    22
        ..
19.7     1
10.1     1
61.3     1
64.3     1
54.9     1
Name: PctHS18_24, Length: 440, dtype: int64
43.0    12
42.3    11
42.1    10
36.1     9
45.6     9
        ..
52.9     1
46.7     1
49.9     1
20.6     1
45.2     1
Name: PctSomeCol18_24, Length: 301, dtype: int64
0.0     123
4.7      51
2.8      47
4.8      46
5.3      44
       ...
19.7      1
21.4      1
15.4      1
29.8      1
22.8      1
Name: PctBachDeg18_24, Length: 212, dtype: int64
37.6    30
35.6    28
35.5    28
40.5    26
33.1    26
        ..
49.6     1
23.7     1
14.9     1
13.8     1
47.0     1
Name: PctHS25_Over, Length: 352, dtype: int64
9.0     41
9.2     37
9.8     35
10.3    35
10.0    35
        ..
27.4     1
22.0     1
32.0     1
27.5     1
34.5     1
Name: PctBachDeg25_Over, Length: 267, dtype: int64
51.9    28
48.9    24
54.6    22
47.6    22
52.4    21
        ..
73.6     1
29.6     1
38.6     1
29.7     1
39.0     1
Name: PctEmployed16_Over, Length: 385, dtype: int64
6.9     50
8.3     49
7.0     49
6.8     48
7.5     48
        ..
15.0     1
15.3     1
25.3     1
0.5      1
15.8     1
Name: PctUnemployed16_Over, Length: 183, dtype: int64
65.3    24
68.1    22
69.1    22
69.5    21
69.8    20
        ..
53.0     1
45.0     1
86.0     1
39.6     1
34.4     1
Name: PctPrivateCoverage, Length: 467, dtype: int64
53.0    19
50.6    16
49.5    15
50.9    15
52.8    15
        ..
70.2     1
77.1     1
78.2     1
30.9     1
24.2     1
Name: PctPrivateCoverageAlone, Length: 434, dtype: int64
40.0    25
46.5    24
32.6    23
44.4    21
36.3    21
        ..
19.5     1
15.0     1
19.0     1
26.5     1
19.2     1
Name: PctEmpPrivCoverage, Length: 425, dtype: int64
35.3    29
34.3    26
31.9    25
35.9    24
39.2    24
        ..
52.4     1
21.9     1
57.2     1
24.0     1
23.6     1
Name: PctPublicCoverage, Length: 375, dtype: int64
18.7    35
16.8    31
17.9    29
20.2    29
21.6    29
        ..
5.5      1
30.0     1
8.5      1
5.0      1
4.6      1
Name: PctPublicCoverageAlone, Length: 300, dtype: int64
97.212544    3
88.275552    2
53.796546    2
92.483218    2
71.194743    2
            ..
52.903017    1
52.744419    1
95.078805    1
89.487555    1
81.738938    1
Name: PctWhite, Length: 2284, dtype: int64
0.000000     65
0.363636      3
1.973429      2
19.299945     2
1.023400      2
             ..
0.594553      1
0.813670      1
3.698692      1
6.242912      1
1.181568      1
Name: PctBlack, Length: 2230, dtype: int64
0.000000    188
0.326797      4
3.336719      2
0.328629      2
2.037537      2
           ...
0.457457      1
3.047973      1
0.141452      1
1.186633      1
3.529772      1
Name: PctAsian, Length: 2142, dtype: int64
0.000000    133
0.167729      2
2.385502      2
0.015321      2
1.843479      2
           ...
2.040211      1
0.753864      1
2.710994      1
0.855554      1
0.355889      1
Name: PctOtherRace, Length: 2183, dtype: int64
51.983664    2
53.639393    2
39.246709    2
46.030190    2
52.069460    2
            ..
35.620915    1
55.617663    1
44.492164    1
56.062581    1
53.626142    1
Name: PctMarriedHouseholds, Length: 2284, dtype: int64
5.000000    4
1.470588    3
4.545455    3
6.012885    3
7.142857    3
           ..
5.693717    1
6.469649    1
5.517241    1
2.224694    1
5.015576    1
Name: BirthRate, Length: 2275, dtype: int64
173.6    12
184.3    12
165.3    11
179.9    11
174.7    11
         ..
197.2     1
135.8     1
235.2     1
254.3     1
230.6     1
Name: TARGET_deathRate, Length: 939, dtype: int64

In [8]:
data.drop(columns=['PctSomeCol18_24','binnedInc','Geography'],inplace=True)

In [9]:
data.fillna(0,inplace=True)

# Seperate target and input

In [10]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values
print(x.shape)
print(y.shape)

(3051, 30)
(3051,)

# Data Preparation

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
sc = StandardScaler(copy=False)
sc.fit_transform(xtrain)
sc.transform(xtest)

array([[ 0.4144122 ,  0.51799021,  0.53539764, ..., -0.04464041,
        -0.70363583, -0.64679364],
       [-0.34638866, -0.22681967,  0.59431704, ..., -0.34977265,
        -0.67734491,  1.17174938],
       [ 0.54948487,  0.64058314,  0.92122465, ..., -0.51903969,
        -0.01525694, -0.28244118],
       ...,
       [-0.28454816, -0.16899282, -0.16593323, ...,  0.3863052 ,
        -0.51456857,  0.97676312],
       [-0.21538444, -0.081096  , -0.11271571, ...,  0.18672174,
         0.40266748,  1.68826023],
       [-0.31221364, -0.15048823, -1.39563804, ..., -0.27636285,
         0.05442419,  0.26053679]])

# Baseline Model

In [13]:
untuned_model = GradientBoostingRegressor()

In [14]:
untuned_model.fit(xtrain,ytrain)
untuned_pred = untuned_model.predict(xtest)

In [15]:
mean_absolute_error(ytest,untuned_pred)

11.280668995762138

# Hyper Parameter Tuning

In [16]:
gbr = GradientBoostingRegressor()
parameters = {
'n_estimators': [5, 50, 100, 150, 250],
'max_depth': [2, 3, 4, 8, 16, 32, None],
'learning_rate': [0.03, 0.1, 0.3, 1]
}
rs = RandomizedSearchCV(gbr, parameters, cv=5,n_iter=20)
rs.fit(xtrain,ytrain)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                       criterion='friedman_mse',
                                                       init=None,
                                                       learning_rate=0.1,
                                                       loss='ls', max_depth=3,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       n_estimators=100,
                                                       n_...
                                                       random_state=None,
                                                       subsample=1.0,
                                                       tol=0.0001,
                                                       validation_fraction=0.1,
                                                       verbose=0,
                                                       warm_start=False),
                   iid='deprecated', n_iter=20, n_jobs=None,
                   param_distributions={'learning_rate': [0.03, 0.1, 0.3, 1],
                                        'max_depth': [2, 3, 4, 8, 16, 32, None],
                                        'n_estimators': [5, 50, 100, 150, 250]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [17]:
rs.best_params_

{'learning_rate': 0.3, 'max_depth': 4, 'n_estimators': 100}

In [18]:
tuned_model = GradientBoostingRegressor(learning_rate=0.3,max_depth=4,n_estimators=250)
tuned_model.fit(xtrain,ytrain)
tuned_pred = tuned_model.predict(xtest)

In [19]:
mean_absolute_error(ytest,tuned_pred)

7.189035757540263

# Feature Selection

In [20]:
gbr2 = GradientBoostingRegressor(learning_rate=0.3,max_depth=4,n_estimators=250)

In [21]:
from sklearn.feature_selection import RFE
model = RFE(gbr2,n_features_to_select=12, step=1)
model = model.fit(x,y)

In [22]:
feature_engineered_pred = model.predict(xtest)

In [23]:
mean_absolute_error(ytest,feature_engineered_pred)

31.403439675434864

### Feature engineered model dosent perform better than previous model

In [24]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/cancer_death_rate/Testing_set_label.csv')

In [25]:
test_data.drop(columns=['PctSomeCol18_24','binnedInc','Geography'],inplace=True)
test_data.fillna(0,inplace=True)
test_data = test_data.values
sc.transform(test_data)

array([[ 1.23786725e+00,  1.36226228e+00, -2.05705577e+00, ...,
         1.23002761e+00,  7.67426166e-01,  6.08387516e-01],
       [-3.87886885e-01, -3.07777270e-01, -7.66038234e-02, ...,
        -5.63735139e-01,  6.07209556e-01, -1.66645835e+00],
       [-3.61848780e-01, -3.03151121e-01, -4.47225828e-01, ...,
        -1.28675047e-04,  1.97760069e-01,  2.45348735e+00],
       ...,
       [-3.13027335e-01, -1.87497413e-01, -8.17847833e-01, ...,
        -5.28994894e-01, -4.92031430e-01, -8.03306272e-01],
       [-1.70631452e-01, -8.10960012e-02,  1.17590849e+00, ...,
        -2.32116757e-01, -8.63316565e-01, -2.82051113e-01],
       [-4.52168454e-01, -3.86421791e-01, -1.68073188e+00, ...,
         1.24513059e+01,  1.95028611e+00, -1.82613101e-01]])

In [26]:
pred = tuned_model.predict(test_data)

In [27]:
pred = pd.DataFrame(pred,columns=['prediction'])