<a href="https://colab.research.google.com/github/vinayaka16041999/Data-Science-ML-Projects/blob/master/Pokemon_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SUMMER ANALYTICS 2021

# Week-1 Assignment

# **Gotta catch 'em all !**

![download.jpg]()

**Welcome to your first assignment of Summer Analytics 2021! We hope you are excited to implement and test everything you have learnt up until now. The dataset which you'll use includes information about Pokemons.**

**We've got an interesting set of questions for you to get a basic understanding of pandas and data visualization libraries. GOOD LUCK!**


***Let's get started with importing numpy, pandas, seaborn and matplotlib!***

Note - matplotlib should be imported with the command :

 `import matplotlib.pyplot as plt`

### 1) Start by importing all important libraries
For eg, "import numpy as np"

In [3]:
#your code here
import numpy as np
import pandas as pd

### 2) Read the csv file and assign it to a variable .

In [4]:
#your code here
df = pd.read_csv('/content/SA2021_W1_Pokemon.csv')
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

### 3) Display shape of dataframe
Expected Output - (800, 13)

In [5]:
#your code here
df.shape

(800, 13)

### 4) Print all columns of dataframe
Return an array containing names of all the columns.

In [6]:
#your code here
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### 5) Remove the column '#' and update the dataframe.

In [7]:
#your code here
df.drop(columns='#',inplace=True)

In [8]:
df

                      Name   Type 1  Type 2  ...  Speed  Generation  Legendary
0                Bulbasaur    Grass  Poison  ...     45           1      False
1                  Ivysaur    Grass  Poison  ...     60           1      False
2                 Venusaur    Grass  Poison  ...     80           1      False
3    VenusaurMega Venusaur    Grass  Poison  ...     80           1      False
4               Charmander     Fire     NaN  ...     65           1      False
..                     ...      ...     ...  ...    ...         ...        ...
795                Diancie     Rock   Fairy  ...     50           6       True
796    DiancieMega Diancie     Rock   Fairy  ...    110           6       True
797    HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
798     HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
799              Volcanion     Fire   Water  ...     70           6       True

[800 rows x 12 columns]

### 6) Set the 'Name' column as the index of dataframe

In [9]:
#your code here
df.index = df['Name']

###  7) Print a list of all the unique Type-1 powers

In [10]:
#your code here
print(df['Type 1'].unique())

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

### 8) Create a column which contains the Type 1 and Type 2 abilities of pokemons, seperated with a '+'' sign. Also, display the no. of pokemons that have type-1 power as 'Psychic' and type 2 power as 'Flying' using this new column.

In [11]:
#your code here
df['Powers'] = df['Type 1']+"+"+df['Type 2']
df

                                        Name   Type 1  ... Legendary         Powers
Name                                                   ...
Bulbasaur                          Bulbasaur    Grass  ...     False   Grass+Poison
Ivysaur                              Ivysaur    Grass  ...     False   Grass+Poison
Venusaur                            Venusaur    Grass  ...     False   Grass+Poison
VenusaurMega Venusaur  VenusaurMega Venusaur    Grass  ...     False   Grass+Poison
Charmander                        Charmander     Fire  ...     False            NaN
...                                      ...      ...  ...       ...            ...
Diancie                              Diancie     Rock  ...      True     Rock+Fairy
DiancieMega Diancie      DiancieMega Diancie     Rock  ...      True     Rock+Fairy
HoopaHoopa Confined      HoopaHoopa Confined  Psychic  ...      True  Psychic+Ghost
HoopaHoopa Unbound        HoopaHoopa Unbound  Psychic  ...      True   Psychic+Dark
Volcanion                          Volcanion     Fire  ...      True     Fire+Water

[800 rows x 13 columns]

In [12]:
temp = pd.DataFrame(df[(df['Type 1']=="Psychic") & (df["Type 2"]=="Flying")])
temp.shape

(6, 13)

## GRADED Questions (To be answered in the quiz)
### Try to retrieve some information from the data and answer the questions below . BEST OF LUCK !!

### 1. How many pokemons have 'Mega' in their name?

In [13]:
#your code here
S = pd.Series(df['Name'])

In [14]:
len([itm[0] for itm in S.str.findall('Mega.*') if len(itm)>0])

49

### 2. What is the standard deviation of Sp. Def. in the dataset ?

In [15]:
#your code here
df["Sp. Def"].std()

27.82891579711745

### 3. What percentage (upto 3 decimal places) of pokemons are legendary ?

In [16]:
#your code here
(df["Legendary"].value_counts()[1]/(df["Legendary"].value_counts()[1]+df["Legendary"].value_counts()[0]))*100

8.125

### 4. Name the pokemon(s) with Maximum Defense.

In [17]:
df["Defense"].max()

230

In [18]:
#your code here
df[df["Defense"]==230]

                                    Name Type 1  ... Legendary        Powers
Name                                             ...
SteelixMega Steelix  SteelixMega Steelix  Steel  ...     False  Steel+Ground
Shuckle                          Shuckle    Bug  ...     False      Bug+Rock
AggronMega Aggron      AggronMega Aggron  Steel  ...     False           NaN

[3 rows x 13 columns]

### 5. Which poison pokemon has the strongest attack ?

In [19]:
#your code here
sort = df[df["Type 2"]=="Poison"].sort_values(by="Attack",ascending=False)
sort

                                        Name Type 1  ... Legendary        Powers
Name                                                 ...
BeedrillMega Beedrill  BeedrillMega Beedrill    Bug  ...     False    Bug+Poison
Victreebel                        Victreebel  Grass  ...     False  Grass+Poison
VenusaurMega Venusaur  VenusaurMega Venusaur  Grass  ...     False  Grass+Poison
Scolipede                          Scolipede    Bug  ...     False    Bug+Poison
Qwilfish                            Qwilfish  Water  ...     False  Water+Poison
Beedrill                            Beedrill    Bug  ...     False    Bug+Poison
Ariados                              Ariados    Bug  ...     False    Bug+Poison
Weepinbell                        Weepinbell  Grass  ...     False  Grass+Poison
Amoonguss                          Amoonguss  Grass  ...     False  Grass+Poison
Venusaur                            Venusaur  Grass  ...     False  Grass+Poison
Vileplume                          Vileplume  Grass  ...     False  Grass+Poison
Bellsprout                        Bellsprout  Grass  ...     False  Grass+Poison
Roserade                            Roserade  Grass  ...     False  Grass+Poison
Tentacruel                        Tentacruel  Water  ...     False  Water+Poison
Venomoth                            Venomoth    Bug  ...     False    Bug+Poison
Gengar                                Gengar  Ghost  ...     False  Ghost+Poison
GengarMega Gengar          GengarMega Gengar  Ghost  ...     False  Ghost+Poison
Gloom                                  Gloom  Grass  ...     False  Grass+Poison
Ivysaur                              Ivysaur  Grass  ...     False  Grass+Poison
Roselia                              Roselia  Grass  ...     False  Grass+Poison
Spinarak                            Spinarak    Bug  ...     False    Bug+Poison
Foongus                              Foongus  Grass  ...     False  Grass+Poison
Whirlipede                        Whirlipede    Bug  ...     False    Bug+Poison
Venonat                              Venonat    Bug  ...     False    Bug+Poison
Dustox                                Dustox    Bug  ...     False    Bug+Poison
Oddish                                Oddish  Grass  ...     False  Grass+Poison
Haunter                              Haunter  Ghost  ...     False  Ghost+Poison
Bulbasaur                          Bulbasaur  Grass  ...     False  Grass+Poison
Venipede                            Venipede    Bug  ...     False    Bug+Poison
Tentacool                          Tentacool  Water  ...     False  Water+Poison
Gastly                                Gastly  Ghost  ...     False  Ghost+Poison
Weedle                                Weedle    Bug  ...     False    Bug+Poison
Budew                                  Budew  Grass  ...     False  Grass+Poison
Kakuna                                Kakuna    Bug  ...     False    Bug+Poison

[34 rows x 13 columns]

### 6. Using seaborn make different types of plots, observe the trend and answer the questions given in the form.

In [20]:
#your code here
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [21]:
#your code here
df["Generation"].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [22]:
#your code here
df["Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ice         14
Rock        14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [23]:
df[df["Powers"]=="Psychic+Flying"]

              Name   Type 1  Type 2  ...  Generation  Legendary          Powers
Name                                 ...
Natu          Natu  Psychic  Flying  ...           2      False  Psychic+Flying
Xatu          Xatu  Psychic  Flying  ...           2      False  Psychic+Flying
Lugia        Lugia  Psychic  Flying  ...           2       True  Psychic+Flying
Woobat      Woobat  Psychic  Flying  ...           5      False  Psychic+Flying
Swoobat    Swoobat  Psychic  Flying  ...           5      False  Psychic+Flying
Sigilyph  Sigilyph  Psychic  Flying  ...           5      False  Psychic+Flying

[6 rows x 13 columns]

In [24]:
pd.crosstab(df.Generation,df.Legendary)

Legendary   False  True
Generation
1             160      6
2             101      5
3             142     18
4             108     13
5             150     15
6              74      8

### 7. Which is the second fastest non-legendary 'Ghost' type pokemon from 4th generation ?

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, Bulbasaur to Volcanion
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
 12  Powers      414 non-null    object
dtypes: bool(1), int64(8), object(4)
memory usage: 82.0+ KB

In [28]:
#your code here
df[(df["Generation"]==4) & (df["Legendary"]==False) & ((df["Type 1"]=="Ghost") | (df["Type 2"]=="Ghost"))].sort_values(by="Speed",ascending=False)

                Name    Type 1  Type 2  ...  Generation  Legendary          Powers
Name                                    ...
Froslass    Froslass       Ice   Ghost  ...           4      False       Ice+Ghost
Mismagius  Mismagius     Ghost     NaN  ...           4      False             NaN
Rotom          Rotom  Electric   Ghost  ...           4      False  Electric+Ghost
Drifblim    Drifblim     Ghost  Flying  ...           4      False    Ghost+Flying
Drifloon    Drifloon     Ghost  Flying  ...           4      False    Ghost+Flying
Dusknoir    Dusknoir     Ghost     NaN  ...           4      False             NaN
Spiritomb  Spiritomb     Ghost    Dark  ...           4      False      Ghost+Dark

[7 rows x 13 columns]

### 8. How many non-legendary pokemons have stronger defence but weaker attack than Charizard?

In [27]:
#your code here
attack = 84
defense = 78
df[(df["Attack"]<attack) & (df["Defense"]>defense)].shape[0]

122


## *Congratulations on coming this far! Since we were having so much fun playing with this dataset, here are some bonus questions that you can try to further deepen your understanding of the topic!*

### **Note:** These questions are UNGRADED, and are given as an extra exercise.

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [29]:
#your code here
df["Comb"] = df["Attack"]+df["Sp. Atk"]
df["Comb"].max()

360

### Which type of legendary pokemons are the most common?

In [32]:
#your code here
pd.crosstab(df["Type 1"],df["Legendary"])

Legendary  False  True
Type 1
Bug           69      0
Dark          29      2
Dragon        20     12
Electric      40      4
Fairy         16      1
Fighting      27      0
Fire          47      5
Flying         2      2
Ghost         30      2
Grass         67      3
Ground        28      4
Ice           22      2
Normal        96      2
Poison        28      0
Psychic       43     14
Rock          40      4
Steel         23      4
Water        108      4

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [36]:
#your code here
hp = 50
df[(df["Generation"]==3) & (df["Legendary"]==False) & (df["HP"]>hp)].shape[0]

95

### Print out the third slowest pokemon(s) in the dataset.

In [45]:
#your code here
df.sort_values(by="Speed").iloc[[2]]

                Name Type 1 Type 2  ...  Legendary       Powers  Comb
Name                                ...
Ferroseed  Ferroseed  Grass  Steel  ...      False  Grass+Steel    74

[1 rows x 14 columns]